
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  width:70%;
}

form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; 
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form input:focus {
  border-color: #6200ea;
  outline: none;
  box-shadow: 0 0 5px rgba(98, 0, 234, 0.3);
}

button {
  margin-top: 15px;
  padding: 12px;
  background-color: #6200ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4500b5;
}

p {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

p a {
  color: #6200ea;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

p a:hover {
  color: #4500b5;
}
